[2012-11-02 18:03] jcrugzz opened #2 "RPC over streams"
Was reading through the readme and thought I'd recommend [dnode](https://github.com/substack/dnode) for the RPC over streams. Substack seems to know what he's doing with the streams.

Also I'm definitely interested in helping out in my free time. Definitely throw me some little things to get me started or I'll see where I can play a part and throw a pull request.

[2012-11-02 18:08] owenb commented on #2
Thanks - would be great!

So my ultimate goal would be to implement the standard streams interface so well you could choose to use Dnode OR the Socketstream RPC module (which includes features for namespacing, meta data, and more) interchangeably.

Still lots to figure out on the stream multiplexing side at the moment, which is what I'm working on right now. Soon as I have anything working I'll co

[2012-11-03 04:44] jcrugzz commented on #2
Sweet, sounds good man. I'll keep an eye out for that next commit.

[2012-11-07 02:57] owenb commented on #2
Just to let you know, I've made a big commit which gets the initial chat demo working using a new stream-based implementation of the RPC and PubSub components in 0.3.

Next stop is to see how we can use external streams such as DNode and Max Ogden's various browser-based streams (e.g. for sending geolocation data).

[2012-11-07 04:44] extesy opened #3 "Use UglifyJS 2"
Update socketstream to use a new version: https://github.com/mishoo/UglifyJS2

[2012-11-07 07:12] jcrugzz commented on #2
Awesome, I'll start playing around with it a bit this week.

[2012-11-17 22:16] owenb commented on #3
Ah thanks. Will do!

[2012-12-14 18:55] yiwang opened #5 "Allow explicit control over PACK asset or not PACK assets for each client?"
I would like to have options when define client to be able to specify (override the SS_PACK=1, SS_ENV=production) behavior for each client, ideally for each kind of assets (css, code), or even at each file level

This is  useful to figure out problems when css, or js got minified.
especially helpful to just use one port to serve different copies of TEST RUNNER client (minified asset or not) side b

[2012-12-26 12:24] jcw opened #6 "Status of 0.4 vs 0.3"
Hello Owen,

May I ask what the project time scale is, i.e. what your current expectation is as to when this code might be released as successor for 0.3?

I'm trying to figure out whether to base a new project on 0.4 or 0.3 - don't have enough experience yet to be able to contribute anything back, but am _very_ interested in the new design, EngineIO, etc. Given that I'm starting from scratch, work

[2012-12-26 18:59] owenb commented on #5
Hey Yi

Thanks for the suggestion.

I think this will happen naturally with what I have in mind.

In 0.4 you define a client and assign it to a variable, e.g. `mainClient`.

Then you can setup your own scripts to do things like:

[code]

Would this cover everything you have in mind?

Owen

[2012-12-26 19:36] owenb commented on #6
Hi Jean-Claude

Thanks for getting in touch.

I've not had as much time as I'd have hoped to work on 0.4 over the last few weeks, as I've been busy with other things; but that's slowly starting to change and I'm already beginning to work on 0.4 again on my laptop.

The honest answer is I don't know when 0.4 will be ready. There are two major problems still to solve:
1. Client-side templates. Right

[2012-12-26 20:59] jcw commented on #6
Ok, thank you.

I'm currently looking into https://github.com/americanyak/ss-angular-demo - which ties it together with AngularJS.

The other big piece of the cake for me is how to share state across all clients and the server - maybe something like https://github.com/codeparty/racer could be used for that. Just a thought - I've yet to wrap my mind around it all.

Lots of things for me to learn, s

[2013-02-01 20:05] kraz opened #8 "Sending code libraries must not be platform specific"
`ClientCode.prototype.sendLibrary` and `ClientCode.prototype.sendModule` must not determine if given content is a file by comparing the first character. Main reason - this makes it platform specific (`if (content[0] === '/')` will not work on windows). Second reason - if the content begins with comment block `/* ... */`.

May be something like `ClientCode.prototype.sendLibraryCode` called by `Clie

[2013-02-06 16:39] owenb opened #9 "Dev discussion: Model Syncing APIs"
### Goal

Achieve feature-parity with model support in Meteor (reactive templating and optional latency compensation) **without** forcing developers to use Mongo or a custom client-side lib.
### Vision

SocketStream should not ship with support for models out of the box. Instead it should provide flexible, reliable APIs to allow other developers to write plugin modules (similar to Request Responde

[2013-02-06 21:36] yiwang commented on #9
Just start looking into http://sharejs.org/, is there possibility have an easy integration with OT as well for 0.4

[2013-02-06 23:08] arxpoetica commented on #9
Maybe off topic, but also shouldn't force REDIS?

[2013-02-07 11:54] owenb commented on #9
@yiwang I'd love to see third-party modules built on top of the SocketStream APIs we will provide which implement OT, but we're not going to do OT (or any other type of conflict resolution) in the SocketStream core

[2013-02-07 11:55] owenb commented on #9
@americanyak Indeed. We don't force redis on you today (only recommend it), and won't in the future. The APIs I want to make will allow module developers to use any storage engine

[2013-02-07 12:05] jcw commented on #9
Great. There are already so many decisions one has to take up front, so the more SS can stick to very loose and modular coupling, the better, IMO. Of all the choices involved, I consider SS to be one with the most "global" impact already, since it sits between such a wide range of other packages. I'm not even using express yet - starting out with the minimum has in fact helped a lot with learning

[2013-02-07 16:08] davisford commented on #9
Can we get more clarity on what exactly Meteor has/does that SS lacks.  I'm trying to read their docs http://docs.meteor.com/#reactivity and it isn't entirely clear to me.

Are you trying to further abstract away the details of syncing realtime data?  Currently, I find this to be fairly easy to do in SS, using well known pub/sub events.  It sounds like Meteor is trying to further hide those detail

[2013-02-07 18:17] pygy commented on #9
I don't think you'll manage to have something as clean as Meteor while being generic.

I know that at the very least, Angular will need custom logic to do it (you'll have to write a service, and add `$watch` calls where appropriate).

What you could define, though, is a data sync protocol, and have various adapters for the different client frameworks.

Other points:
- how do you handle horizontal

[2013-02-07 20:06] kraz commented on #9
In my opinion the API must be as light as possible and exposing as mush as possible. That said if there are key points at the server's event flow, where i can hook up and intercept/modify/extend certain actions it will give me the opportunity to integrate my server modules with SocketStream. For performance reason it might be good point not to use server events, but callbacks. Or may be both - ser

[2013-02-09 01:59] pygy opened #10 "Webpack for the client code / stylesheets?"
https://github.com/webpack/webpack
https://github.com/component/component

Webpack is a project similar to Browserify, but much, much more versatile, since it also handles components and style sheets (including preprocessors), and arbitrary files as long as you give it a suitable plugin.

It also handles minification with uglify, and adds only 300 bytes of overhead.

It may be worth a look.

[2013-02-09 11:31] jcw commented on #10
Niiiiice! Lots of examples, looks like a very clean and modular approach.

[2013-02-10 14:07] owenb commented on #10
Hi @pygy

Already had my eye on component.js for a while, but never knew about webpack. Looks really good.

The key for me is amazing integration with everything we have now: e.g. parsing files in realtime while in dev mode (as we've tried watching files before and it doesn't work well on some platforms), coupling it with Live Reload, and making it possible to load additional client-side code asyn

[2013-02-10 14:38] jcw commented on #9
Maybe it already exists, but if not or if no longer applicable for 0.4 - would it be an idea to hash out the pieces of SS 0.4 and come up with a list of everything in there, from a feature perspective? Something like:
- WebSockets - via engine-io, for pubsub and rpc between server and client(s)
- live-reload - reload client for client-side file changes, update in-place for CSS changes
- automatic

[2013-02-11 02:53] arxpoetica commented on #9
@kraz FYI there's sort of a debate going on right now over JS and shared server-client modules:
https://twitter.com/domenic/status/299598843731902464
https://twitter.com/domenic/status/300373615604543488
https://twitter.com/paul_irish/status/300080151927062528

[2013-02-11 06:05] kraz commented on #9
Thanks @americanyak. That is some neat information out there. :pushpin:

[2013-02-11 10:33] owenb opened #11 "TODO: Convert to Streams2"
Before we can benchmark the Streams vs Non-stream approach (as used in 0.3), we need to convert what we have to use Streams2 in Node 0.9.

This is the next thing on my agenda. Any help appreciated.

[2013-02-12 10:22] owenb opened #12 "TODO: Benchmark streams vs non-streams"
Before we make a 100% commitment to use the Node Streams API (actually, Streams2 in 0.9) we need to make sure handling large numbers of incoming requests to the websocket won't be significantly slower than splitting and parsing the message string, as we do in 0.3.

[2013-03-13 20:26] owenb commented on #11
I have written a basic benchmark in /benchmarks.

This shows Streams2 to be up to 10 times slower than simple middleware.

Hence for now, we're not going down the streams-everywhere route as initially intended. Happy to introduce them in the future where it makes sense to do so

[2013-03-13 20:26] #11 closed, assigned to nobody

[2013-03-13 20:27] owenb commented on #12
I have written a basic benchmark in /benchmarks.

This shows Streams2 to be up to 10 times slower than simple middleware.

Hence for now, we're not going down the streams-everywhere route as initially intended. Happy to introduce them in the future where it makes sense to do so

[2013-03-13 20:27] #12 closed, assigned to nobody

[2013-03-13 20:44] #3 closed, assigned to nobody

[2013-03-14 22:38] owenb commented on #9
Hi guys

Thanks for all the above. I've read and digested it all.

@kraz I totally agree that high performance and exposing as much as possible is the most important thing.

I'm currently working on a new API for Websocket Services which builds upon the ideas on my latest 0.4 commit yesterday. I'll post a link to it here when it's done.

Cheers,

Owen

[2013-03-20 10:14] owenb commented on #9
Ok guys the first 'draft' of my new idea is ready and integrated into SocketStream 0.4:

https://github.com/socketstream/realtime-service

The Realtime Service API is going to be a new open standard for creating plugin modules for realime frameworks, like SocketStream. All of the 0.4 code has been changed to use this, though there is still much work to do on the module spec (still need to add the

[2013-03-20 11:10] jcw commented on #6
Great to see 0.4 progress, Owen. I have a couple of questions - not sure this is the proper place, but here goes:
1. now that asset & realtime serving have been decoupled: is it feasible to use nginx for assets, alongside node.js?
2. I'd like to use CoffeeScript, Jade, and Stylus, but still deliver & check-in the app with the pre-processed results, so that others are not forced to read the source

[2013-03-20 11:31] owenb commented on #6
Hi Jean-Claude

I'll have a go at answering:
1. You could definitely use either nginx or a CDN to host minified JS, CSS and images. But the root of your site (the main view) will need to go through Node to get a sesion cookie. At least that's true right now. I'd love to find a way to make this totally static too - but there are issues with Auth. Still need to look into that.
2. In a 0.4 app, for s

[2013-03-20 12:01] jcw commented on #6
Thx. I haven't thought through the authorisation stuff, my thinking so far is that everything static can be made public - only the real-time data (anything sent across though WS as JSON really) will need authentication/authorisation.

Just to give an idea of the modules I'd like to use, eventually: CoffeeScript translation, the Foundation CSS and AngularJS client-side frameworks, plotting with eit

[2013-03-20 14:00] jcw commented on #6
Looking at the runtime-generated server.js, I see that service wrappers get hard-coded into it, presumably on startup.

Not sure yet how this will fit in with my dynamic config, where modules can be installed and uninstalled ("activated" is perhaps a better term) from a client-side admin page. Note that this is only a limited form of dynamic loading - it would be ok to scan all modules on the serv

[2013-03-20 20:15] owenb commented on #6
Thanks. I had to laugh - most of the stack (Foundation, Angular, flotr2 in particular) are things I've been playing around with today with another project. I think these represent the best of the best at the moment.

It's going to be really hard to dynamically load-in new modules, especially if these modules then send additional code/modules to the client. The design of Browserify 2 makes this rea

[2013-03-21 10:42] jcw commented on #6
Perhaps the suggestion in issue #10 can help? - see https://github.com/webpack/webpack - it appears to use a very modular approach, just like the new RTS.

I've been using (and learning) Foundation, Angular, flotr2, etc in HouseMon, and am mighty impressed by each of them. It's very comforting to hear you confirm this, given the number of choices in JavaScript-land ...

[2013-03-21 13:05] jcw commented on #10
Been looking into this just now - good intro at http://webpack.github.com/

It looks excellent to me. It supports "chunking" up things so packages need not all be bundled into one huge file - perfect if you have tons of modules, of which the client might only be requiring a few at any point in time (hint, hint).

[2013-03-24 12:46] jcw commented on #6
While listening to your LXJS 2012 presentation, it occurred to me that what I'm trying to do is in a way "more" real-time than what SS is addressing. Well, in a crazy way, that is: what I would like is an _empty_ app, which gets developed, extended, and altered in real-time as well - i.e. not just a static set of design choices (with code, pages, and layout designed up front), but a real live app

[2013-03-25 16:48] owenb commented on #6
Hi @jcw

Yes, I think you're looking for something above and beyond SocketStream. Maybe one day we will have this functionality, but it's not something I want to prioritise right now - I'd rather get things like realtime models right first.

Owen

[2013-03-25 17:59] owenb commented on #10
Webpack looks very good. Thanks for mentioning it. I will look into it closely

[2013-03-29 11:58] jcw opened #13 "errors with "npm test""
After doing `npm install` on a clean checkout, `npm test` gives me the following errors on Mac OSX:

[code]

Do I need to set up something else first?

[2013-03-29 13:30] owenb commented on #13
Hi there

There are no tests for 0.4 yet. There were but I removed them as they were out of sync with the code.

As I continue to move stuff out into separate modules, most tests will be self contained within that module. I'm hoping the actual socketstream-0.4 module will contain very few lines of code and hence the only tests required will be a simple integration test.

Cheers,

Owen

[2013-04-03 11:41] jcw commented on #10
Or... much leaner option would be https://github.com/azer/onejs#readme

[2013-04-04 09:37] jcw commented on #10
Or WebMake on [github](https://github.com/medikoo/modules-webmake) - with an eye towards future ES6 support, see slides 64-up of [this presentation](http://www.slideshare.net/medikoo/javascript-modules-done-right).

_Ok, I'll shut up now ;)_

[2013-04-05 21:23] owenb commented on #8
Hi Krasen

Agreed. This is out of the code now. Still not fully decided how to send assets but it's likely transports and services will just list an array of static files to be included in the build.

SocketStream server will be able to aggregate this into one big Array, which can then be sent through to whichever build system you want to use. Obviously, if you choose to use the build system inclu

[2013-04-05 21:23] #8 closed, assigned to nobody

[2013-04-05 21:23] #13 closed, assigned to nobody

[2013-04-11 13:26] DeLaGuardo opened #15 "browserify can't find dependencies"
[code]

ugly fix is copy escodegen from

and put it to

[2013-04-11 13:46] owenb commented on #15
Hey there

I remember reading of an issue in browserify which was solved recently. If you rm -fr your node_modules dir and reinstall it should fix it. Please close the issue if it does, if not I'll look into it more.

Cheers,

Owen

[2013-04-11 13:56] DeLaGuardo commented on #15
Truly forgot that almost all dependency issues fix with magical **rm -rf node_modules && npm install**

[2013-04-11 13:56] #15 closed, assigned to nobody

[2013-04-17 14:48] tedx opened #16 "tutorial - what am I doing wrong?"
I'm trying to learn by working through the tutorial but am not getting very far. I installed socketstream (sudo npm install -g socketstream) and created app.js and main.html from the tutorial instructions but when I try and run the server I get:

[tedx@localhost sstest]$ node app.js

/home/tedx/sstest/app.js:3
    app = SocketStream();
          ^
TypeError: object is not a function
    at Object.

[2013-04-17 17:46] owenb commented on #16
Hey there

I suspect you're doing nothing wrong. The tutorial has just got out of sync with the crazy amount of changes that have taken place over the last few weeks.

I'll go through it over the next few days and update everything. I'm aiming to get all the realtime server stuff stable-ish in time for my talk at Realtime Conf EU on Monday. The asset serving/building part of SocketStream still nee

[2013-05-03 19:52] mgleason commented on #9
I think that link's no longer good - maybe the new link is: https://github.com/socketstream/realtime-service?

[2013-05-03 20:12] mgleason commented on #9
AOT it looks great, although the API is TBD and I don't think I see anything specific to Model Syncing yet.

A quick note WRT "each service has it's own directory to store files (e.g. model definitions)": presumably the directory location will be configurable - unless you're assuming only static files will be stored there?  I point that out only because many Node PAAS providers assume local storag

[2013-05-03 20:53] owenb commented on #9
Hi @mgleason  Yes, that's the new link. I updated my original post.

Yeah the API is still a work in progress, but I'm happy with the basic design, so things won't change too much. I've been working on some model syncing stuff but have yet to commit anything to the public repo.

One of the things I still want to get right, before Realtime Services 1.0 is ready, is how we're going to handle offline

[2013-05-08 15:10] #16 closed, assigned to nobody

[2013-05-08 20:46] mgleason commented on #9
So, I'm trying to get my head around how SocketStream is going to have feature parity with Meteor if it isn't going to ship with model support.

I think I'm seeing that SS will provide a minimal set of tools to facilitate syncing.  And, hopefully, developers will create add-on's (similar to ss-backbone) that will actually do model syncing between client models and real databases (like Redis or Mon

[2013-05-12 06:53] haohello opened #17 "What about the people behind socketstream project"
I really like the idea of the modular approach for the socketstream-0.4, even though the future for the project sounds promising, however the development progress will surely block most of the people who are interested in this project.

As far as I could feel, this project seems to be backed by only one person, and it will be extremely difficult for only one person to accomplish the goal for this

[2013-05-13 10:44] paulbjensen commented on #17
I'd like to offer some thoughts.

In my opinion, SocketStream needs better documentation and more tutorials on how to accomplish various tasks in the developer's workflow (e.g. building app features, doing testing, deployment etc).

There are enough developers using SocketStream who have experience in doing these things, but there isn't a single place where all of this knowledge can be contributed

[2013-05-14 17:17] mgleason commented on #9
Hopefully I'm not saying something stupid.  But I also want to point out something - since it actually confused me for a while when I first found SocketStream and saw some comments about Redis and ss-Backbone and ss-angular that gave me the impression people thought it provided parity with Meteor:
- Meteor doesn't just provide Model Synchronization.
- Meteor actually provides Model Synchronization

[2013-05-26 16:29] arxpoetica commented on #17
I can't really speak to what @owenb would want in terms of direct repo contributors, but I do think that needs to happen at some point. I've been heavily invested in SS, but if I'm completely honest, Meteor.js is becoming more and more attractive as it grows. Yet I would rather stay with something like SocketStream. It's just a more attractive offering for multiple reasons.

I do agree with the se

[2013-05-28 08:25] owenb commented on #17
Thanks very much for your thoughts. I've been thinking about this subject a lot recently, especially since receiving @haohello message.

Unfortunately I don't have the free time to work on SocketStream at the moment, so I'd love to find ways for other people to contribute. Not just minor code changes, but real development work towards the goals of 0.4.

The good news is that the 0.4 code is now in

[2013-05-28 12:40] wamatt commented on #17
I really love the idea of what SocketStream can become, however also agree with the sentiment expressed here. It needs to be marketed better and have more contributors to prosper longterm.

[2013-05-28 16:48] bloodyKnuckles commented on #17
The thought comes to mind, does socketstream have to have a lot of people using it to be a great resource?

[2013-05-28 19:20] davisford opened #18 "jade-stream + stylus-stream in Express example"
What are these packages?  I can't find them anywhere under your repo or in npm, or even references to them in any package.json file

https://github.com/socketstream/socketstream-0.4/blob/master/example_app/scripts/express_example.js#L11

[2013-05-28 20:26] pocesar commented on #18
they are [ss-jade](https://github.com/socketstream/ss-stylus) and [ss-stream](https://github.com/socketstream/ss-jade), but they are for 3.x. maybe they are a modified version to work with 0.4? (havent tried myself)

[2013-05-28 23:05] owenb commented on #18
Hey.

This example script is out of date now, sorry. I scrapped the streams idea completely as it didn't work out.

The asset_server.js file is the better way of doing this. It might be necessary to do something with Stylus, but we should (and do) just use the Jade express wrapper instead of creating our own.

[2013-05-29 01:02] wamatt commented on #17
Maybe, maybe not. That really is a tangential issue since you are talking about users. What it clearly does need however, is a core group of passionate _contributors_, for long term success. Without that, the users look elsewhere simply because they do not want to build projects on top of a framework that will be abandoned.

Abandoned or dying projects can quickly become outdated: bugs remain unfi

[2013-05-29 03:45] davisford commented on #18
Thanks @owenb -- I am interested in using Express -- as I want to also provide a standard HTTP web service API, and Express makes that so convenient, so if there's any other caveats I should be aware of with integrating ss-0.4 with Express, I'd love to hear about them.

[2013-05-29 03:45] #18 closed, assigned to nobody

[2013-05-29 03:56] davisford commented on #17
This is so true -- I'm sorry to hear that @owenb is lacking the time to commit here.  You've started something really great, and I also don't want to abandon it b/c I've also invested quite a lot in it -- having built several apps with ss now.  I'm happy to also help contribute -- I would like ss to continue to evolve and thrive.  I do share the same goals you stated, Owen, but like @americanyak I

[2013-05-29 08:04] owenb commented on #18
You should be totally fine with Express. I spent a lot of time developing 0.4 with it in mind, so there shouldn't be any problems. Let me know how you get on and if you need any help there.

[2013-05-29 09:59] paulbjensen commented on #17
It would be great to get more detail on what remains to be done for 0.4; a TODO list or a set of trello tasks or a list of labelled Github issues.

I'd be tempted to recommend Github Issues; you can specify feature requirements, have someone assign themselves to the issue, submit a pull request, and merge it in once it's good. One place to track everything.

[2013-05-29 11:15] mdlawson commented on #17
I'd be very interested in contributing as well, but like others have said, it would be great to see some github issues outlining what needs to be done. Even just a general overview of the projects immediate goals moving forward would be great.

[2013-05-29 16:14] arxpoetica commented on #17
@owenb I'm in. I'll do whatever I can to give good contributions, including code review, etc. etc. I think I'm familiar enough with the product to know where I can add the most value. I'd also be happy to lead the way on documentation. In fact, if you can give me commit rights, I'll focus on that up front. As for Trello, since you're opening this up, there's no point in using something else. Let's

[2013-05-29 16:18] arxpoetica opened #19 "Setting up the app for development and setting up our documentation"
1. Developers need to know how to fork and run the app locally for development purposes so they can make pull requests in the Open Source community. Part of this involves documentation for setting things up. Tangent, but I thought this was interesting: http://paulmillr.com/posts/github-pull-request-stats/
2. Documentation for using SS in general. How do we organize things. Do we run a website (I'd

[2013-05-29 16:20] arxpoetica commented on #17
https://github.com/socketstream/socketstream-0.4/issues/19 Lets discuss documentation and SS dev setup needs over here. That way this ticket can continue to focus on the bigger picture of involving the open source community in the development of SocketStream.

[2013-05-29 17:24] owenb commented on #17
Hi guys

In the spirit of [Felix's Github hack](http://felixge.de/2013/03/11/the-pull-request-hack.html) I've added @americanyak and @davisford to this 0.4 project and Prism - the heart of SocketStream 0.4. Guys, you've been big supporters of SocketStream for a long time - thank you!

My good friend @paulbjensen has been involved in SocketStream from day one and can also commit to everything, incl

[2013-05-29 17:26] davisford commented on #17
Thanks @owneb -- my free time did just open up a little bit too, so I should be able to help out more.  Looking forward to it.

[2013-05-29 17:53] RomanMinkin commented on #19
1. ...
2. ...
3. Add tasks based build framework, which will contain:
   - JavaScript syntax linting (jsHint I guess will be better)
   - Tests runner with the options to run separately unit tests and e2e tests
4. Add `prism` and `socketstream-0.4` to https://travis-ci.org and put links into README.md so projects can have current build statuses <a href="https://travis-ci.org/socketstream/socketstr

[2013-05-29 17:55] arxpoetica commented on #19
Suggested platforms for documentation? Obviously, it would be super cool to host documentation on SocketStream itself, just to show that it can run. (I wonder if we could get the guys over @ NodeJitsu to sponsor/host our documentation/marketing site, if we promote them...but I digress...)

I'm just going to list out a few options I'm familiar with. Throw in your voice on the yeas or nays.
1. https

[2013-05-29 18:09] RomanMinkin commented on #19
@americanyak , look like NodeJitsu is free for Open Souce http://opensource.nodejitsu.com/ , but you have to apply.

[2013-05-29 18:10] haohello commented on #17
Sorry to bring up this serious topic, my primary goal of starting this topic was to see if @owenb and other guys are still confident with the project' long term direction.

The other important aspect that I was referring, the people or organization behind the project, for a project to succeed it usually requires a lot of collective efforts, rather than one man to guide the directions, that's why i

[2013-05-29 19:53] davisford commented on #19
@RomanMinkin I'm a big Grunt fan -- I just went through a process of setting up a solid build system using Grunt + mocha, chai, sinon for tests, and Phantom + Mocha for CI + Google Closure Compiler and JSHint, etc.

I could look into "build-ifying" the current ss repo for automation of a production / debug release as well as test infrastructure.

[2013-05-29 19:55] davisford commented on #19
@americanyak Nodejtsu + apply for free access, or just use a free EC2 micro instance.

[2013-05-29 21:00] paulbjensen opened #20 "App Generator"
We need a way to run a command to generate the base structure of a 0.4 application.

I'm happy to have a go at implementing this feature, but before I proceed I'd like to find out:

1 - What files/folders to generate
2 - What optional arguments to support

[2013-05-29 21:05] arxpoetica commented on #17
I don't really view it as a competition. It's just an alternative that many of us would rather go with.

[2013-05-29 21:07] arxpoetica commented on #19
Isn't EC2 only free for a year?

[2013-05-29 21:10] paulbjensen commented on #19
+1 for Nodejitsu

[2013-05-29 21:45] arxpoetica commented on #19
I sent them an email. Waiting now.

[2013-05-29 23:48] owenb commented on #20
So there are two ways to do this.
1. Do what we did in 0.3 and scaffold something which ends up looking very basic and pretty and easy to use.
2. Go more in the direction of Express and generate a larger, more verbose `app.js` file which exposes more of the mechanics under the hood. In this case, the generated `app.js` module would directly `require('prism')` at the top.

The second option initial

[2013-05-30 00:08] davisford commented on #20
Even though I don't really use them myself -- I do like the approach taken by [yeoman](http://yeoman.io/), [brunch](http://brunch.io/), etc. where you have archetypes that you can choose from, and we could chuck out a recommended skeleton app with those flavors.  People seem to really dig this kind of thing, and it may help adoption.

[2013-05-30 00:10] owenb commented on #17
It's not a competition.

Geoff and Matt (the main Meteor guys) are super-intelligent, lovely people. I have met them a number of times and have a great deal of respect for them and their crazy-ambitious endeavour. They fully deserve to succeed and I'm certain they will.

But Meteor is not so much a framework as an entire end-to-end platform and ecosystem. There is no way we can, or should, want to

[2013-05-30 01:39] davisford commented on #19
With commit access now, I'm interested in doing a branch and setting up a Grunt-based build with test infrastructure, and I'd like to start committing tests to it.  This serves multi-purpose: a) Improve code base through tests - add regression suite, etc. b) Get it hooked into travis-ci like @RomanMinkin suggested c) Allows me to get more familiar with the codebase so I can be in a better position

[2013-05-30 03:10] wamatt commented on #17
@owenb not sure if you've chatted to the TowerJS guys? They've recently had a major change in direction for 0.5. They asked me not to post on HackerNews and trying to keep it hush, but it seems they have a super ambitious goals.

They are completely rewriting in JS (it was CS before) and going heavily component based. This struck me similar to the ideals you had for the vision of this project orig

[2013-05-30 07:55] owenb commented on #19
Very happy to see more tests and things on travis, but if you do want to add Grunt, make sure it's just a devDependency. It's a mammoth dependency and shouldn't be required for 'regular' users.

[2013-05-30 07:59] owenb commented on #20
It can be cool, but having too many combinations would be a nightmare to maintain without an automated means to check-out each combination out and run tests.

If in doubt, keep things simple. At least at first.

[2013-05-30 14:23] arxpoetica commented on #17
@owenb that last comment is worthy of being in the documentation. :) Just sayin'. (Your comment, not @wamatt, though it's a good comment too, ha.)

[2013-05-30 14:32] arxpoetica commented on #20
My vote is for no. 2, go more in the direction of Express (since it's a familiar pattern). As for yeoman (or grunt for that matter) I think those are good options, but in my opinion we should just create documentation toward an approach like that, like, "if you're a grunter, yeomaner, or (oxford comma) bruncher," do this...

[2013-05-30 18:30] davisford commented on #20
Yea, just a small point of clarification.  I wasn't proposing to use Yeoman or Brunch or whatever, I just like the idea of being able to write a recipe that constructs a skeleton project tailored for a particular scenario.  So, if I wanted to make a new SocketStream app with Angular + Jade + Stylus (my personal preference), I could write a re-useable recipe that the example app generator can run t

[2013-05-30 19:39] paulbjensen commented on #20
Some choices are inspired by random things, like this: http://www.youtube.com/watch?v=nmJKY59NX8o

number 2 it is.

[2013-05-31 04:10] arxpoetica commented on #20
ha

[2013-05-31 13:55] owenb commented on #2
For anyone looking at this in the future, just to let you know I ended up trying Streams2 throughout SocketStream and deciding they weren't worth the additional complexity and massive performance overhead (up to 10x slower than simple callbacks). So I took them out of the code a while back.

[2013-05-31 14:01] owenb commented on #20
@americanyak I totally agree with:

Let's make the documentation based around recipes in this way.

@davisford That's cool. Happy to have grunt in the stack for dev. But let's not rush to include it for everyone else. This is not a tiny library - it's a mammoth beast!

@paulbjensen Brilliant :)

[2013-05-31 14:50] RomanMinkin commented on #20
Guys,

Please take a look at https://github.com/angular-ui/ui-router. There are `Grunt`/`jsdoc` bases documentation generator and a task for publishing. Looks pretty simple, so we can just add `markdown` stuff there:

**Gruntfile.js**

[code]

So documentation will be in static HTML files, so no specific back-end requirements. `jsdoc` syntax supports in most editors/ide like [sublime-jsdocs](https

[2013-05-31 21:21] davisford commented on #2
@owenb I haven't investigated Streams2 myself but do you feel like it is something that will improve -- i.e. is it worth protecting for swapping in the implementation that supports it in the future, or are you pretty much convinced that it won't be feasible b/c of the current limitations?

[2013-05-31 21:36] davisford commented on #20
I did a branch that yanks in grunt (for ss dev only).  I built a few useful tasks and I'll try to push the branch up soon so people can take a look and decide if they are good with it.  One thing, though, since ss is now so distributed across so many smaller projects you may end up duplicating grunt tasks in each.

I recently had this same issue (many repos / projects with dependencies and all bui

[2013-06-01 16:43] RomanMinkin commented on #20
@davisford , that's awesome! But it could be too complicated to have one more repo for grunt/common tasks. For example http://angular-ui.github.io/ separated projects into repos and added dependencies in each project for componets like

[code]

But yes this approach duplicates some tasks, but repos much stable itself because of it.

Just my thoughts, it would be better to keep as less repos as pos

[2013-06-02 16:38] owenb commented on #20
I like that idea, @RomanMinkin

When it's clear another repo is required, we should have one. But yes - the admin can become a real pain. Especially around tracking and answering issues.

[2013-06-02 16:46] owenb commented on #2
I don't believe it's the right choice for SocketStream. They are too heavy (slow) for what we need. Great for streaming huge files. Not good for small, tiny messages.

Also one-to-many streams in Node are very hard to model. This is why 0.4 was getting so complex before I decided to take them out in January.

[2013-06-15 16:37] arxpoetica commented on #19
Hey all -- I haven't forgotten my new commitment to this. Just been in the huge thick of a deadline in launching a website on SocketStream. (It's a calculated gamble, knowing some of the things you've said about prod. ready, @owenb). But I just wanted to throw my hat back in the ring that I'll be focused on the task of documentation again soon. The first SS site I built is actually open sourced (h

[2013-06-17 18:35] paulbjensen commented on #19
Hi @americanyak,

I've had the same experience, trying to do all the things at the same time is very difficult.

I'm going to have a look at this pull request https://github.com/socketstream/prism/pull/5. I'll be on IRC.

[2013-06-17 18:50] davisford commented on #19
I meant to do the same, and added a nearly identical comment as yours to
the pull request.  I believe that the demo rpc example is just following
node api patterns of err as first argument -- in this case, there is
none....don't think we want to pull it.

I had another prism pull request myself -- it's worth discussing at some
point, but I want to make it so you can detach the prism client from th

[2013-06-21 10:24] #2 closed, assigned to nobody

[2013-06-22 02:02] RomanMinkin commented on #17
Hi guys,

Today I was at <a href="http://www.10gen.com/events/mongonyc-2013">MongoNYC 2013</a> and I met Diane M from <a href="http://www.redhat.com/">redhat.com</a>.

First of all she is an very nice person and open source fan =), but at conference she was representing https://www.openshift.com/, which is new hosting solution from RedHat. I told here about SocketStream project, and that project n

[2013-06-24 16:17] arxpoetica commented on #17
That sounds great!

[2013-06-25 22:09] RomanMinkin commented on #17
Hi everyone,

Well, i played with OpenShift today, unfortunately it has some problems with managing node.js versions. It require additional pre/post build code etc. So i spent almost one day and my app still doesn't work the way i expected. And it's slow on application update. But still free =)

@americanyak , I remember you <a href="https://github.com/socketstream/socketstream-0.4/issues/19#issue

[2013-06-28 00:06] haohello commented on #17
hi guys, just came across a [node.js real time game server framework based on socket.io](https://github.com/NetEase/pomelo) backed by a Chinese online game operator who has been traded in Nasdaq since 14 years ago, really a worth to take a look at, I'm thinking about trying it out in my other apps.

[2013-06-28 08:57] paulbjensen commented on #17
@haohello Thanks for that, I've heard of it before but I haven't taken a close look. Interesting to see how they run the socket management and backend logic under separate processes.

@RomanMinkin I guess OpenShift is relatively new and so needs to iron out teething issues, still awesome that Diane offered support. I remember Owen tried Nodejitsu a while back and said it worked really well.

The w

[2013-06-28 20:10] RomanMinkin commented on #17
@paulbjensen I agree. BTW I have running test app at OpenShift, going to make an additional branch for `SS 0.3` with seted up demo.

[2013-07-22 21:43] arxpoetica commented on #17
Okay. Making some noise again. I'm back on an SS project, so ready to roll on working. @RomanMinkin any more word from OpenShift? I want to start in on some basic documentation.

[2013-07-22 21:45] arxpoetica commented on #19
Okay, all, I'm back on SS, as promised. (The SS project I'm working on is on.) Where are y'all at? Still trying to think of a good place to start in on the documentation.

[2013-07-22 21:52] RomanMinkin commented on #17
@americanyak , nothing yet, which is wired, but I was able to run test app on OpenShift. So the question is how to make SS demo? Should it be different Github project for this or not. The one thing with i do not like is that you have to use environment variables like

[code]

To run the HTTP and WebSocket servers.
So i can help with setting up demo app and it would be great if @owenb would be able

[2013-07-22 23:35] davisford commented on #17
@americanyak glad to hear it -- i just want to say i thought i could commit a little more but i'm crazy.  i have two jobs (M-F) and (S-S) and two kids under 5 right now.  i'm nuts.  in the short term, i'll partake in any issues, pull requests, etc., but right now i'm burning the candle @ both ends so i'm not a good candidate for taking the torch.  hope to change that soon.

[2013-07-23 07:19] owenb opened #21 "Replace Realtime Transport (rtt) idea inside Prism with Primus"
The Realtime Transport layer provides an abstraction layer between Prism and Engine.io OR SockJS. As a reminder, Prism is the realtime web server layer of SocketStream 0.4.

You can read more about it here: https://github.com/socketstream/realtime-transport

Since coming up with this idea (which was also in 0.3 to some extent), 3rdEden (who I've got a lot of respect for as an engineer) has created

[2013-07-23 07:48] owenb commented on #17
Hey guys

Thanks for helping out.

So, I've written up the first 0.4 task that needs to be done. It's Issue #21.

If anyone would like to take this, let me know (just comment on the issue) and we can discuss it further. I'd love to get others involved in the core development. I'm sure we'll get 0.4 done in no time if we can get a steady stream of contributions going. I'll write up some more Issues

[2013-07-23 15:09] arxpoetica commented on #21
+1

[2013-07-23 15:30] arxpoetica commented on #17
@owenb hit me up when you have a moment. I want to discuss wayz going forward. I think there are still some gaps that can be filled that will help the momentum of this project; as well, I want to discuss my own involvement. I'll try and hang around the IRC.

[2013-07-23 15:31] arxpoetica commented on #17
(And totally understand, @davisford)

[2013-07-24 21:20] paulbjensen commented on #21
I guess the plan would be to implement the following as services on top of primus:
- live-reload
- rpc
- pub/sub

I've done something similar to this with an internal project at Axisto Media, so I would be happy to take this on, unless anyone else wishes to take it on?

[2013-07-24 21:23] arxpoetica commented on #21
Take it. I'll help. I'm ready. Just point me in the right direction. :)

[2013-07-24 21:23] arxpoetica commented on #21
(Tired of sitting around.)

[2013-07-24 21:32] arxpoetica commented on #21
@owenb how would something like https://github.com/codeparty/racer fit (or not fit) into this new paradigm?

[2013-07-24 22:07] arxpoetica commented on #9
Just adding to this thread without reading everything above, but I didn't want to lose sight of the fact that someone's worked already on this problem a bit: https://github.com/korbin/socketstream-0.4/tree/master/mods/rts-model

from @korbin's own mouth:

"Havent touched it in a long time, but, this created mirrored model objects across the wire. I need to take a look at it again. It was...overkil

[2013-07-24 22:09] arxpoetica opened #22 "Authentication and client-server state."
One of the trickier aspects of realtime apps is maintaing state and access to different portions of pages and content/action. http://logs.libuv.org/socketstream/2013-07-24#21:56:21.526 <-- this conversation illustrates.

I want to make sure we're tracking this issue, though I don't have a proposed solution at this point. I'm told Racer handles it very, very well, so we may want to look at what the

[2013-07-24 22:14] arxpoetica commented on #22
See also #9, which also deals with mirroring.

[2013-07-24 22:17] paulbjensen commented on #9
For Dashku, I used a combination of a custom client-side model library, called bucket:

https://github.com/Anephenix/dashku/blob/master/client/code/libs/bucket.coffee

And I hooked into that with pub/sub, so that model updates got pushed from server to clients.

[2013-07-25 16:54] arxpoetica commented on #19
Looks like there's a new kid on the block. http://bone.io/#router/middleware I like their documentation. This is sort of what I have in mind, and I think it's critical to build momentum in an open source world.

[2013-07-25 17:49] paulbjensen commented on #19
+1 for documentation, should have been done already.

[2013-07-27 20:24] owenb commented on #22
Hey @americanyak

I'd very much advise looking into the new Racer. I plan to do the same soon.

I don't think SocketStream should replace the concept of simple RPC calls and Events with Racer, but it could form a good third option. Especially as it should ideally be implemented as just another Realtime Service (no more or less important than any other).

Owen

[2013-07-29 15:10] arxpoetica commented on #22
Excellent. I'm glad you have a good handle on it.

[2013-08-15 12:41] paulbjensen commented on #17
Hi,

Some of you will have seen last week's announcement, but it's worth reposting here. https://t.co/m7FGsDS8J0

In short, Owen has given me the role of managing the project. This frees up Owen to pursue the startup idea he's been wanting to do for a long time, and allows SocketStream to resume active development.

On that note, we're currently porting the source code from CoffeeScript to Javascr

[2013-08-15 15:17] RomanMinkin commented on #17
Hi @paulbjensen,

Sure, i would love do that =)

Would you mind to register an official account at https://www.openshift.com/ ? And if give me an access I can set everything up, probably we need an additional sub-branch or even better a dedicated sub-project for the demo apps including OpenShift.

I sow Owen's letter, I was busy a bit last week. Well it's sad from one side, but from the other I ho

[2013-08-16 16:36] arxpoetica commented on #17
I won't pretend to speak for @owenb, so I'll only pretend to pretend to speak for him, ha. I think he still will be involved peripherally, as it is still his baby. I imagine any movement will still be satisfactory to him, as well (and here I speak for myself), I aspire for his blessing on directions we take things. Now I'll step back and let him speak for himself, ha ha. But I think it was a reall

[2013-08-19 19:26] owenb commented on #17
Thanks @americanyak
That's exactly what I think :)

[2013-08-30 16:42] pocesar commented on #21
@paulbjensen pub/sub is already possible in primus using the http://github.com/cayasso/primus-multiplex, although the methods are not publish/subscribe, but instead are named channels. also, the RPC is similar using primus-eventemitter, without the rpc 2.0 overhead.

[2013-09-02 08:58] paulbjensen commented on #21
Thanks for the tip, I'll have a look at it tomorrow.

[2013-09-09 17:20] arxpoetica opened #23 "Make print stylesheets possible."
See this ticket in 0.3 for more info: https://github.com/socketstream/socketstream/issues/396#issuecomment-24087834

[2013-09-29 10:13] paulbjensen commented on #6
Hi @jcw, is this discussion resolved for you?

[2013-09-29 10:17] paulbjensen commented on #17
Hi @haohello, has your question been answered?

[2013-09-29 10:30] jcw commented on #6
Hello Paul, yes - I've now built my own solution ([jcw/primus-live](https://github.com/jcw/primus-live)). It's single-purpose, but works well for me.

This issue was really a bit of a mashup of various features, one of which was to maintain modules with client-side and server-side files (code, html, assets) all in one place, i.e. one folder per module instead of client + server folders, which I ca

[2013-09-29 10:30] #6 closed, assigned to nobody

[2013-11-20 08:02] #17 closed, assigned to paulbjensen

[2014-01-19 13:52] #5 closed, assigned to nobody

[2014-01-19 13:52] #9 closed, assigned to nobody

[2014-01-19 13:52] #10 closed, assigned to nobody

[2014-01-19 13:52] #19 closed, assigned to nobody

[2014-01-19 13:52] #20 closed, assigned to paulbjensen

[2014-01-19 13:52] #21 closed, assigned to nobody

[2014-01-19 13:52] #22 closed, assigned to nobody

[2014-01-19 13:52] #23 closed, assigned to nobody